/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Karla:ital@1&family=Maven+Pro&family=Noto+Sans&family=Nunito&family=Poppins:wght@300&family=Roboto+Serif:wght@100&display=swap');
/*
font-family: 'DM Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Serif', sans-serif;
*/
/*Reseteamos los estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Contenedor Principal*/
.contenedor__login{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    height: 100vh;
    background-color: #CED9BF;
}
.contenedor__imagen{
    background-image: url("/img/pexels-irina-iriser-1090977.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bienvenidos{
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
    padding: 20px;
    display: block;
    margin-top: 150px;
}
.formulario{
    width: 100%;
    height: 130px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usuario{
    width: 70%;
    justify-content: center;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    display: block;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; 
}
.usuario:nth-child(2){
    margin-top: 40px;
}
.imagen{
    width: 100%;
    height: 100vh;
}
.contenedor__links{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.linkPass{
    color: #676e6b;
}
.linkPass:hover{
    color: #676e6bb2;
}
.linkLogin{
    color: #f2f2f2;    
    background-color: #2C4038;
    padding: 10px 20px;
    border-radius: 4px;
}
.linkLogin:hover{
    background-color: #2e5243ce;
}
.link{
    display: inline-block;
    text-decoration: none;

}
.imgIcono{
    width: 300px;
}
.icono{
    color: #f2f2f2;
}
.nombre{
    margin: 100px 0 0 0;
    color:#f2f2f2;
    display: block;
}
@media screen and (max-width: 730px){
    .contenedor__login{
        display: flex;
        flex-direction: column;
        color: #f2f2f2;
    }
    .contenedor__imagen{
        display: none;
    }
    .contenedor__formulario{
        background-image: url("/img/pexels-irina-iriser-1090977.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .bienvenidos{
        display: block;
        margin-top: 150px;
        color: #f2f2f2;
    }
    .usuario{
        background-color:transparent;
        border-bottom: 2px solid #27a573;
        caret-color: #f2f2f2;
        color: #f2f2f2;
    }
    .usuario::placeholder{
        color: #f2f2f2;
    }
    .linkPass{
        color: #f2f2f2;
    }
}